header {
    font-family: 'Trebuchet MS';   
    font-size: 120px;  
    color: darkblue; 
    text-align: center;}
body { 
    background-color: lawngreen;}
.Calculator1 {
    display: grid; 
    grid-template-columns: repeat(4,80px);
    align-items: center;
    justify-content: center;
}
.Calculator1 > button { 
    cursor: pointer; 
    font-size:  10px; 
    border: 1px solid blue;   
    outline: navy;
    background-color:rgba(rgba(221, 30, 5, 0.829), green, blue, alpha) ;     }
.Calculator1 > button:hover {
    background-color: rgba(221, 30, 5, 10);
}
.output {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: space-around; */
    padding: 8px;
    
}
.span-two {
    grid-column: span 2;
}